[Unit]
Description=Reinitialize the display after the system has booted
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/fix-display

[Install]
WantedBy=sysinit.target
